<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-user">
      <div class="header">
        <h1>Suboard</h1>
      </div>
      <div class="container-body-user">
        <h3 class="title">Informações do usuário</h3>
        <div class="container-image-buttons">
          <div class="image-button">
            <img
              src="https://as1.ftcdn.net/v2/jpg/02/59/39/46/1000_F_259394679_GGA8JJAEkukYJL9XXFH2JoC3nMguBPNH.jpg"
              alt="perfil"
              class="image-user-upload"
            />
          </div>

          <input type="file" value="Atualizar foto" />
          <input type="submit" class="update" value="Atualizar dados" />
          <input type="submit" class="delete" value="Deletar usuário" />
        </div>
        <div class="container-information-user">
          <form>
            <div class="item-input">
              <label>Nome: </label>
              <input
                type="text"
                class="input"
                placeholder="Digite seu nome"
                value="João"
              />
            </div>
            <div class="item-input">
              <label>Email: </label>
              <input
                type="email"
                class="input"
                placeholder="Digite seu email"
                value="joao@gmail.com"
              />
            </div>
            <div class="item-input">
              <label>Password: </label>
              <input
                type="password"
                class="input"
                placeholder="Digite sua senha"
                value="12345"
              />
            </div>
            <div class="item-input">
              <label>Inscritos: </label>
              <input
                type="number"
                class="input"
                placeholder="Digite a quantidade de inscritos"
                value="1500"
              />
            </div>
            <div class="item-input">
              <label>Canal: </label>
              <input
                type="text"
                class="input"
                placeholder="Digite seu canal"
                value="@joao"
              />
            </div>
            <div class="item-input">
              <label>Categoria: </label>
              <input
                type="text"
                class="input"
                placeholder="Digite a categoria do seu canal"
                value="vlog"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
