<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-home">
      <div class="container-information">
        <label class="lbl-title">
          <i class="fa fa-check" id="check"></i> Suboard</label
        >

        <form class="form-search" #f="ngForm" (ngSubmit)="search(f)">
          <div class="input-container">
            <input
              id="searchTerm"
              name="searchTerm"
              type="text"
              class="input-txt"
              placeholder="Pesquisar"
              ngModel
              [disabled]="
                checkbox1 === false &&
                checkbox2 === false &&
                checkbox3 === false
              "
            />
            <i class="fa fa-search" id="search"></i>
          </div>
        </form>

        <div class="container-checkbox">
          <label class="title-checkbox">Filtros: </label>
          <div class="checkboxs">
            <div class="item-check">
              <input
                type="checkbox"
                [(ngModel)]="checkbox1"
                (change)="onCheckboxChange(1)"
              />
              <label class="title-check">Nome</label>
            </div>
            <div class="item-check">
              <input
                type="checkbox"
                [(ngModel)]="checkbox2"
                (change)="onCheckboxChange(2)"
              />
              <label class="title-check">Categoria</label>
            </div>
            <div class="item-check">
              <input
                type="checkbox"
                [(ngModel)]="checkbox3"
                (change)="onCheckboxChange(3)"
              />
              <label class="title-check">Número de Inscritos</label>
            </div>
          </div>
          <div class="bnt-add-user">
            <button type="submit" id="add-user" (click)="openModal()">
              Adicionar influenciador
            </button>
          </div>
          <div class="container-contacts">
            <label class="lbl-contacts">Contatos</label>
            <div class="networks">
              <a href="https://www.linkedin.com/in/joaovictordev/"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a href="https://api.whatsapp.com/send?phone=5588996109661"
                ><i class="fa fa-whatsapp" aria-hidden="true"></i
              ></a>
              <a href="mailto:victoralmeida.0216@gmail.com"
                ><i class="fa fa-google"></i
              ></a>
            </div>
            <label class="lbl-developer">@joaovictor</label>
          </div>
        </div>
      </div>
      <div class="container-body-home">
        <div class="container-title">
          <img
            src="https://as1.ftcdn.net/v2/jpg/02/59/39/46/1000_F_259394679_GGA8JJAEkukYJL9XXFH2JoC3nMguBPNH.jpg"
            alt="perfil"
            class="image-user"
          />
          <h1 class="name-user" *ngIf="saveAdmin">{{ saveAdmin.name }}</h1>
        </div>

        <div class="container-items">
          <div class="grid-list-users">
            <h2>Lista de influenciadores</h2>
            <mat-grid-list cols="4" rowHeight="200px" gutterSize="20px">
              <mat-grid-tile *ngFor="let user of users">
                <div class="item-user" (click)="openModalUser(user)">
                  <img
                    [src]="
                      user.photo
                        ? user.photo
                        : 'https://as1.ftcdn.net/v2/jpg/02/59/39/46/1000_F_259394679_GGA8JJAEkukYJL9XXFH2JoC3nMguBPNH.jpg'
                    "
                    alt="perfil"
                    class="image-user-item"
                  />
                  <label class="lbl-name-user">{{ user.name }}</label>
                  <div class="container-lbl-aux">
                    <label class="lbl-aux-user"
                      >Canal: {{ user.channel }}</label
                    >
                    <label class="lbl-aux-user"
                      >Inscritos: {{ user.subscribed }}</label
                    >
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
