.container-home {
  display: flex;
  flex-direction: row;
}

.container-information {
  position: absolute;
  width: 254px;
  height: 1024px;
  left: -1px;
  top: 0px;
  background: #313545;
}

.lbl-title {
  position: absolute;
  width: 180px;
  height: 52px;
  left: 26px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.form-search {
  position: absolute;
  left: 26px;
  top: 147px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-txt {
  width: 201px;
  height: 42px;
  background: rgba(78, 84, 112, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  text-indent: 10px;
  outline: none;
  color: #ffffff;
  z-index: 1;
}

#search {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #dadada;
  z-index: 2;
}

.input-txt::placeholder {
  color: #ffffff;
  text-indent: 10px;
}

.container-checkbox {
  position: absolute;
  width: 81px;
  height: 26px;
  left: 23px;
  top: 209px;
}

.title-checkbox {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.checkboxs {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 10px;
  width: 200px;
}

.item-check {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}

.title-check {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
}

.bnt-add-user {
  position: absolute;
  top: 161px;
}

#add-user {
  width: 181px;
  height: 43px;
  border: none;
  cursor: pointer;
  background: #2357dc;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.container-contacts {
  position: absolute;
  top: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.lbl-contacts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.lbl-developer {
  position: relative;
  top: 15px;
  left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.networks {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.networks a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #ffffff;
  color: #313545;
  border: none;
  border-radius: 50%;
}

.container-body-home {
  display: flex;
  flex-direction: column;
}

.container-title {
  position: absolute;
  left: 277px;
  top: 21px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}

.image-user {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.name-user {
  width: 362px;
  height: 78px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 61px;
  display: flex;
  align-items: center;
  color: #000000;
}

.container-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-list-users {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  left: 616px;
  top: 136px;
}

.grid-list-users h2 {
  width: 600px;
  height: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #000000;
}

mat-grid-list {
  position: relative;
  left: -120px;
}

mat-grid-tile {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #313545;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

.item-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-user-item {
  position: absolute;
  top: 15px;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
}

.lbl-name-user {
  position: relative;
  top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.container-lbl-aux {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.lbl-aux-user {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #ffffff;
}
